:root {
     --headline-total-height: 70px;
}

body {
    margin : 0;
    padding : 0;
    background-color: #fff;
    font-family: Helvetica,Arial,sans-serif
}

#map-attribution button {
    display: none
}

#map-attribution .map-attribution {
    position: relative;
    background: none
}

#map-attribution ul {
    display: inline-block
}

#map-attribution li {
    display: inline;
    list-style: none;
    margin-right: 5px
}

#map-attribution a {
    color: var(--theme-sub-link-color);
}

a {
    color: var(--theme-link-color);
}
