:root {
      --theme-background-color: #778bf2;
      --theme-font-color: #000;
      --theme-sub-color: #414c87;
      --theme-sub-font-color: #b6d293;
      --theme-sub-link-color: #dde530;
      --theme-banner-image: url('/img/banner_cycling.jpg');
      --theme-link-color: #233fd3;
}

