:root {
      --theme-background-color: #96C060;
      --theme-font-color: #030329;
      --theme-sub-color: #5a7537;
      --theme-sub-font-color: #dbfbb1;
      --theme-sub-link-color: #fcd76d;
      --theme-banner-image: url('../img/banner_hiking.jpg');
      --theme-link-color: #12148d;
      --theme-button-background: #5a6268;
      --theme-button-color: #fff;
}
