:root {
      --theme-background-color: #81AA4B;
      --theme-font-color: #0e0f43;
      --theme-sub-color: #526d30;
      --theme-sub-font-color: #dbfbb1;
      --theme-sub-link-color: #fcd76d;
      --theme-banner-image: url('/img/banner_hiking.jpg');
      --theme-link-color: #12148d;
      --theme-button-background: #5a6268;
      --theme-button-color: #fff;
}
