:root {
      --theme-background-color: #c25366;
      --theme-font-color: #000;
      --theme-sub-color: #5f2932;
      --theme-sub-font-color: #b9b6c3;
      --theme-sub-link-color: #8AA145;
      --theme-banner-image: url('../img/banner_skating.jpg');
      --theme-link-color: #731222;
      --theme-button-background: #5a6268;
      --theme-button-color: #fff;
}
