:root {
      --theme-background-color: #a2a2a2;
      --theme-font-color: #000;
      --theme-sub-color: #424242;
      --theme-sub-font-color: #b5b5b5;
      --theme-sub-link-color: #c67a0e;
      --theme-banner-image: url('/img/banner_slopes.jpg');
      --theme-link-color: #3d53d5;
}

