:root {
      --theme-background-color: #81AA4B; /*9ec868*/
      --theme-sub-color: #526d30;
      --theme-sub-font-color: #dbfbb1;
      --theme-sub-link-color: #fcd76d;
      --theme-banner-image: url('/img/banner_hiking.jpg');
}

